 Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
env/
venv/

# IDE settings
.idea/
.vscode/

# Logs and temporary files
*.log
*.tmp
*.bak

# System files
.DS_Store
Thumbs.db

# Test outputs
*.pytest_cache/
.coverage
htmlcov/

# Python packaging files
build/
dist/
*.egg-info/
